:root {
  --bgcol: #3757a9;
  --light-border: #e0eae4;
  --dark-blue-green: #1b404e;
}

* {
  box-sizing: border-box;
}

body {
  color: aliceblue;
  background-color: var(--dark-blue-green);
}

header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
  background-color: #3757a9;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), var(--dark-blue-green));
}

table {
  margin: 10px;
}

.page-title {
  position: relative;
  top: -2rem;
  left: -2rem;
  text-align: left;
  color:darkslategray;
  background-color: #d4d5d8;
  box-shadow: 5px 5px 5px 5px #d4d5d8;
  padding: 0rem 1rem 0rem 2rem;
}

main {
  justify-content: center;
  width: 96%;
  margin: 2rem auto;
}

.sub-title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.justify-center {
  justify-content: center;
}

/* Mobile-first */
.card-column {
  flex: 1 0 100%;
  padding: 8px;
  /*Resize columns smoothly */
  transition: flex-basis 500ms linear;
}

/* Make each proj card a flexbox column to align and justify content within it */
.proj-card {
  display: flex;
  background-color: darkslategray;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;

  /* Ridge outside of the box */
  outline:  8px ridge rgba(50, 144, 220, .6);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.proj-card a {
  text-decoration: none;
  color:cyan;
}

/* To even up the heights of the cards, make each one's block grow to the height of
   the largest. */
.proj-card .proj-block {
  flex-grow: 1;
}

h1 {
  font-size: 3rem;
}
  
h2 {
  font-size: 2.5rem;
}
  
h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
 
hr {
  margin: 0px 50px;
  border: 5px solid rgb(81, 0, 128);
  border-radius: 5px;
}

footer {
  padding-top: 10px;
  display: flex;
  justify-content:space-around;
  text-align: center;
}
footer h1 {
  margin: -5px 0 5px;
}

footer a {
  color: aliceblue;
  text-decoration: none;
  padding-top: 5px;
}

/* media query for large screens */
@media screen and (min-width: 992px) {
  header {
    width: 100%;
  }

  .card-column {
    /* Put four cards across */
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Use `max-width` values for medium-large size window */
@media screen and (max-width: 991px) {
   .card-column {
    /* Put three cards across */
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
}

/* For tablet size window */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .card-column {
    /* Put two cards across */
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Mobile-first: for narrow window */
@media screen and (max-width: 490px) {
  .header {
    display: block;
  }

  .header h1 a {
    float: none;
    text-align: left;
  }
  
  .header nav {
    flex-direction: column;
    float: none;
  }

  .card-column {
    /* Put just one card per row */
    flex: 0 0 100%;
    max-width: 100%;
  }

/* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }

  footer {
    display: block;
    float: none;
  }
}
